body {
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    color: #222;
  }
  
  /*COMEÇO CABEÇALHO */
  .cabecalho {
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.193);
    background: url('../images/fundoSite2.png');
  }
  
  .logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    margin-left: 200px;
  }
  
  .imagem-logo {
    width: 70px;
  }
  
  .info-curso .titulo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1c0e5b;
    margin: 0;
  }
  
  .etiqueta-preco {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 16px;
    background-color: aliceblue;
    color: #814adbec;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    outline: none;
    border: none;
  }
  /*FIM CABEÇALHO */
  
  /* COMEÇO INFO GERAL */
  .info-geral {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .caixa {
    display: flex;
    align-items: center;
    background-color: #814adbec;
    padding: 30px 60px;
    border-radius: 10px;
    width: 80%;
    margin-top: 80px;
    justify-content: space-between;
  }
  
  .coluna {
    text-align: center;
  }
  
  .titulo-coluna {
    color: #ffffff;
    font-size: 1rem;
  }
  
  .valor {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .divisao {
    width: 1px;
    height: 60px;
    background-color: #ccc;
  }
  
  .botao-login {
    background-color: aliceblue;
    color: #643ad6;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .botao-login:hover {
    background-color: #fffafadc;
  }
  /*FIM INFO GERAL */
  
  /*COMEÇO DESCRIÇÃO */
  .descricao {
    margin: 60px auto;
    width: 80%;
    line-height: 1.7;
    font-size: 1.1rem;
    color: #333;
  }
 
  .descricao p {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  /*FIM DESCRIÇÃO */


  /*COMEÇO FOOTER */
  .sobre {
    display: grid;
    justify-content: space-between;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.801);  
    height: 700px;
}

.footer-topo {
    display: flex;
    margin-top: 50px;
    margin-left: 170px;
    gap: 1290px;
    color: #643ad6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 110%;
}

.footer-topo img {
    width: 181px;
    height: 57px;

}

.footer-bottom {
    display: flex;
    gap: 100px;
    margin-left: 140px;
    margin-top: 0px;
}

.footer-bottom h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #643ad6;
    font-size: 120%;
    margin-left: 30px;
}

.footer-bottom ul {
    list-style: none;
    text-align: left;
    line-height: 50px;
    transition: 0.3s;
    
}

.footer-bottom li{
    color: rgb(49, 49, 49);
}

.footer-bottom li:hover{
    color:  grey;
}

.footer-email {
   display: grid;
   justify-content: center;
   margin-right: 60px;
   margin-top: 10px;
}

.footer-email input {
    height: 50px;
    width: 300px;
    border: none;
    outline: none;
    margin-bottom: -60px;
    margin-top: -80px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.526);
    margin-left: 300px;
}

.footer-email button {
    height: 50px;
    width: 300px;
    margin-left: 300px;
    margin-top: -120px;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #643ad6;
    border-radius: 10px 10px 10px 10px;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.526); 
}

.footer-email h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #643ad6;
    font-size: 110%;
    margin-bottom: -20px;
    margin-top: -10px;
    text-align: center;
    transform: 0.3s ease;
    margin-left: 270px;
}

.footer-email button:hover {
    cursor: pointer;
    background-color: #9b0dec;
}

hr {
    width: 90%;
    margin: 20px auto;
    border: none;          
    height: 2px;           
    background-color: #25006e; 
    border-radius: 2px;  
    margin-left: 140px;
}

.fim-footer {
    display: flex;
    margin-left: 55px;
    margin-top: -20px;
    justify-content: center;
}

.fim-footer p {
    color: #643ad6;
}

  /*FIM FOOTER */
