header {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.312);
    display: grid;
    align-items: center;
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.top-bar{
    display: flex;
    justify-content:space-around;
}

.menu-left{
    display: flex;
    align-items: center;

}

.menu-left h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0a85c2;
    
}

.search{
    margin-left: 20px;
}

.social-icones {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 2px;
}


.menu-links {
   display: flex;
   justify-content: center;
   gap: 100px;
   padding: 5px; 
    
}

.menu-links a{
 color: #0a85c2;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-decoration: none;
}

#espanha {
    position: relative;
    height: 250px;
    margin-top: 0px;
    margin-bottom: 60px;
    background: url(../images/barcelona.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#espanha h1 {
    font-size: clamp(2rem, 8vw, 4rem);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-shadow:
      0 1px 0 rgba(0, 0, 0, 0.694),
      0 2px 4px rgba(0, 0, 0, 0.694),
      0 6px 18px rgba(0,0,0,0.694),
      0 0 8px rgba(0,0,0,0.694);
    
}

#guia {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#guia h1 {
    font-size: 250%;
    color: #0a85c2;
    margin: 30px 0;
}

#guia p {
  font-size: 150%;
  color: rgb(147, 146, 146);
}

#guia b {
    color: rgb(97, 96, 96);
}

.p-guia {
    margin: 50px 0;
}

#hoteis {
    background: rgb(233, 231, 231);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

#hoteis img {
    margin-right: 50px ;
}

#hoteis h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    font-size: 200%;
    margin-bottom: 20px;
    position: relative;
    top: -10px;
    margin-left: 25px;
}

#hoteis p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(133, 132, 132);
    font-size: 150%;
    line-height: 40px;
    position: relative;
    top: -0px;
    margin-left: 25px;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: #0a85c2;
    font-size: 120%;
}

#cidades {
    display: flex;
    justify-content: space-around;
}

.cards img{
    height: 200px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
}

.cards {
 background: rgb(255, 255, 255);
 height: 480px;
 width: 300px;
 border-radius: 15px;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.527);
}

.cards h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 150%;
    margin-left: 10px;
    margin-top: 10px;
}

.cards p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 163, 163);
    margin-left:  10px;
    font-size: 120%;
    line-height: 30px;
    margin-top: 10px;
}

#pontos {
    display: grid;
    ju
}