body{
    background: #643ad6;
}


header {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.312);
    display: flex;
    align-items: center;
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.menu-links {
   display: flex;
   gap: 150px;
   padding: 5px; 
   margin-left: 200px;
    
}
.menu-links a{
 color: #643ad6;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-decoration: none;
 font-size: 120%;
 display: inline;
}

.menu-links a:hover {
    color:#900cfc;
}
.menu-left {
    margin-left: 100px;
}

.search {
    margin-left: 250px;
    background: #643ad6;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.173);
    height: 40px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.search input {
    outline: none;
    border: none;
    height: 40px;
    width: 260px;
    
}

.search .bi {
   margin-left: 7px;
    
}

.missao {
    background: #643ad6;
    height: 600px;
    width: 100%;
}

.missao h1 {
    text-align: center;
    font-size: 250%;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 200px;
}

.missao p {
    text-align: center;
    font-size: 150%;
    margin-top: 50px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
}

.valores {
    display: flex;
    justify-content: space-around;
    background: aliceblue;
    height: 750px;
}

.cards img{
    height: 200px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
}

.cards {
    background: rgb(255, 255, 255);
    height: 500px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.527);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 100px;
}

.cards a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.cards:hover {
    transform: scale(1.05) translateY(-6px); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25); 
    z-index: 1; 
}

.cards h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 150%;
    margin-left: 10px;
    margin-top: 10px;
}

.cards p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 163, 163);
    margin-left:  10px;
    font-size: 110%;
    line-height: 30px;
    margin-top: 10px;
}

.cards h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 120%;
    margin-left: 10px;
    margin-top: 10px;
}

.Visao {
    background: aliceblue;
    height: 600px;
    width: 100%;
}

.Visao h1 {
    text-align: center;
    font-size: 250%;
    color: #643ad6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.Visao p {
    text-align: center;
    font-size: 150%;
    margin-top: 50px;
    color: #643ad6;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
}


.sobre {
    display: grid;
    justify-content: space-between;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.801);  
    height: 700px;
}

.footer-topo {
    display: flex;
    margin-top: 50px;
    margin-left: 55px;
    gap: 1290px;
    color: #643ad6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 110%;
}

.footer-topo img {
    width: 181px;
    height: 57px;

}

.footer-bottom {
    display: flex;
    gap: 100px;
    margin-left: 30px;
    margin-top: 0px;
}

.footer-bottom h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #643ad6;
    font-size: 120%;
    margin-left: 30px;
}

.footer-bottom ul {
    list-style: none;
    text-align: left;
    line-height: 50px;
    transition: 0.3s;
    
}

.footer-bottom li{
    color: rgb(49, 49, 49);
}

.footer-bottom li:hover{
    color:  grey;
}

.footer-email {
   display: grid;
   justify-content: center;
   margin-right: 60px;
   margin-top: 10px;
}

.footer-email input {
    height: 50px;
    width: 300px;
    border: none;
    outline: none;
    margin-bottom: -60px;
    margin-top: -80px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.526);
    margin-left: 300px;
}

.footer-email button {
    height: 50px;
    width: 300px;
    margin-left: 300px;
    margin-top: -120px;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #643ad6;
    border-radius: 10px 10px 10px 10px;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.526); 
}

.footer-email h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #643ad6;
    font-size: 110%;
    margin-bottom: -20px;
    margin-top: -10px;
    text-align: center;
    transform: 0.3s ease;
    margin-left: 270px;
}

.footer-email button:hover {
    cursor: pointer;
    background-color: #9b0dec;
}

hr {
    width: 93%;
    margin: 20px auto;
    border: none;          
    height: 2px;           
    background-color: #25006e; 
    border-radius: 2px;    
}

.fim-footer {
    display: flex;
    margin-left: 55px;
    margin-top: -20px;
    justify-content: center;
}

.fim-footer p {
    color: #643ad6;
}

